.grey-text{
    color: #444;
}
.align-right{
    text-align: end;
}
#submit-admin{
    width: 100%;
}
.admin-table-td{
    border: 1px solid black;
    width: 200px;
    height: 40px;
    font-size: 12px;
}
.admin-table-td-double{
    border: 1px solid black;
    width: 200px;
    height: 80px;
    font-size: 12px;
}
.admin-top-section{
    background-color: rgb(255, 236, 236);
    border: 1px solid red;
    border-radius: 10px;
}
.admin-bottom-section{
    background-color: rgb(236, 249, 255);
    border: 1px solid blue;
    border-radius: 10px;
}
.admin-todo-item{
    border: 1px solid #777;
    border-radius: 10px;
}
.admin-todo-item:nth-child(even){
    background-color: #eee;
}
.admin-todo-item:hover{
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid red;
}
.red-text{
    color: rgb(228, 1, 1);
}
.green-text{
    color: green;
}
.admin-change-status-button:disabled{
    background-color: #ddd;
    border: 1px solid #bbb;
}