.td-cell{
    width: 33%;
    height: 25px !important;
    border: 1px solid #ccc;
    cursor: cell;
    padding-left: 4px;
}
tr,.data-grid-container,.data-grid{
    width: 100%;
}
table{
    width: 100%;
}

#comment-box{
    height: 95px;
}
.multi-left-button{
    width: 100%;
}
@media (min-width: 992px) {
    .multi-left-button{
        margin-right: 20px;
    }
}
.dropdown-item{
    padding: 0px;
}
::placeholder{
    opacity: 1;
    color: red;

}
.cell-input{
    border: 0px;
    height: 25px;
    cursor: cell;
    margin-left: -2px;
    margin-right: -20px;
    padding: 2px;
}