a{
    color: white !important;
}
a:hover{
    text-decoration: none !important;
}

/* this is needed just for the Empire Signshop, and advisory font */
#under-banner, #advisory{
    font-family: "Garamond", "Georgia", Serif;
}


/* banner positioning */
#title-banner{
    position: relative;
    background-image: url("../img/banner.jpg");
    height: 200px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin: 0px auto;
    justify-content: center;
}
#banner-h3,#under-banner,#advisory{
    color: white;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    font-weight: 500;
    margin-top: 0px;
}
#banner-h3{
    font-size: 30px;
    top: 0px;
}
#under-banner{
    font-size: 20px;
    top: 35px;
}
#advisory{
    font-size: 20px;
    top: 60px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}
/* by default positioning and sizing happens at the smallest screen, and is conditionally increased with larger screens here */
@media (min-width: 768px) {
    #banner-h3{
        font-size: 45px;
    }
    #under-banner{
        font-size: 25px;
        top: 45px;
    }
    #advisory{
        font-size: 25px;
        top: 75px;
        margin-left: 80px;
        margin-right: 80px;
    }
}
#admin-login-button{
    background-color: rgba(0, 0, 0, 0.0);
    height: 40px;
    width: 40px;
    border: none;
    cursor: default;
    position: absolute;
    top: 88px;
    left: 50%;
    margin-left: -65px;
}
#status-search-bar{
    width: 300px;
    height: 100%;
}
#example-img-id{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
#status-search-bar-inner{
    height: 100%;
}


/* classes */
.nav-h4-bar-bg{
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
}
.btn{
    font-size: 12px !important;
}
.nav-h4-bar{
    font-size: 15px;
    padding-top: 5px;
}
.dropdown-toggle{
    width: 100%;
}
.modal-body{
    text-align:center;
}
.dropdown-item{
    color: black !important;
}
.modal-dialog{
    max-width: 100% !important;
}
.pinmag-row{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.red-text{
    color: red;
}
@media (min-width: 768px) {
    .nav-h4-bar{
        font-size: 18px;
        margin-top: 4px;
    }
    .modal-dialog{
        max-width: 768px !important;
    }
    .btn{
        font-size: 18px !important;
    }
}